<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{{title}}</title>
        <link rel="stylesheet" href="/style.css" />
    </head>
    <body>
        <header id="header">
            {{#if loggedIn}}
            <div class="logout-div">
                {{>logout}}
            </div>
            {{/if}}
            <p class="vitaminsea-title">VitaminSea</p>
        </header>
        <div class="hr-header">
            <hr >
        </div>
        <main class="main_container">
            <section class="page_content_section">
                {{{body}}}
            </section>
        </main>
        <footer>
            <div class="footer_content_div">
                <div class="footer-title-and-logo-div">
                    
                    <p class="footer-title">PROTECTING
                    <br />
                    OCEANS
                    <br />
                    WORLDWIDE</p>
                    <img
                        src= "/assets/whale.png"
                        alt= "whale-logo"
                    />  
                </div>
                 
                <div class="footer-menu-div">
                    <ul>
                        <li>CONTACT</li>
                        <li>PRIVACY POLICY</li>
                        <li>TERMS OF USE</li>
                    </ul>
                </div>
                <div class="social-media-icons-div">
                    <img src="/assets/instagram.png" alt="instagram-logo" />
                    <img src="/assets/facebook.png" alt="facebook logo" />
                    <img src="/assets/twitter.png" alt="twitter logo" />
                    <img src="/assets/youtube.png" alt="youtube logo" />
                </div>
                <h6>© 2023 VITAMINSEA CONSERVATION SOCIETY</h6>
            </div>
        </footer>
    </body>
</html>