<section class="home-section">
    <h1>Keep Our<br />
        Oceans<br />
        Clean.</h1><br />
    <form action="/home" method="post" name="form">
        <button id="join-form">Join us</button>
    </form>
</section>