<section class="home-section">
    <p class="home-title">Keep Our<br />
        Oceans<br />
        Clean.</p><br />
    <form action="/home" method="post" name="form">
        <button id="join-form">Join us</button>
    </form>
</section>