<section class="login-section">
    <h3 id="sign-in-title">Please sign in |
        <a href="/logout">Back to register</a></h3>
    {{#if error}}
        <h2>Not valid, try again</h2>
    {{/if}}
    <form action="" method="post" name="login-form" id="login-form">
        <input
            class="login-input"
            type="email"
            id="email-input"
            name="email"
            placeholder="email"
            required
        /><br /><br />
        <input
            class="login-input"
            type="password"
            id="password-input"
            name="password"
            placeholder="password"
            required
        /><br /><br />
        <button
            id="login-button"
            name="login-button"
            class="register"
        >Submit</button>
    </form>
    {{!-- {{#if msg}}
        {{errorMsg}}
    {{if/}} --}}
</section>