<section class="login-section">
    <h3 id="sign-in-title">Please sign in</h3>
    {{>error}}
    <form action="" method="post" name="login-form" id="login-form">
        <input
            class="login-input"
            type="email"
            id="email-input"
            name="email"
            placeholder="email"
            required
        /><br />
        <input
            class="login-input"
            type="password"
            id="password-input"
            name="password"
            placeholder="password"
            required
        /><br />
        <button
            id="login-button"
            name="login-button"
            class="register"
        >Submit</button>
    </form>
    {{#if msg}}
        {{msg}}
    {{if/}}
</section>