<h2>Sign our petition and become a part of a worldwide effort for saving our
    oceans and keeping them healthy. Be a part of a change!</h2>
<form action="" method="post" name="user-form" id="form">

    <input
        type="text"
        id="input-name"
        name="first"
        placeholder="First Name"
        required
    />

    <input
        type="text"
        id="lastname"
        name="last"
        placeholder="Last Name"
        required
    />
    <button>Submit</button><br />
    <label for="last" id="label-signature">Your Signature:</label>
    <input id="sign" type="text" name="signature" hidden /><br />
    <canvas id="canvas" width="800" height="200"></canvas>
</form>
<script src="script.js"></script>