<section class="petition-section">
    <p class="petition-title">Sign our petition and become a part of a worldwide<br
        />
        effort for saving our oceans and keeping them alive!
    </p>
    <form class="canvas-form" action="" method="post" name="user-form">
        <input id="signature" type="hidden" value="" name="signature" /><br />
        <canvas id="canvas" width="600" height="200"></canvas>
        <button class="submit-button" id="button-submit">Submit</button><br />
    </form>
</section>
<script src="/script.js"></script>