<section class="petition-section">
    {{>logout}}
    <h2>Sign our petition and become a part of a worldwide<br />
        effort for saving our oceans and keeping them alive!
    </h2>
    <form action="" method="post" name="user-form">
        <label for="last" id="label-signature">Your Signature:</label>
        <input id="signature" type="hidden" value="" name="signature" /><br />
        <canvas id="canvas" width="800" height="200"></canvas>
        <button id="button-submit">Submit</button><br />

    </form>
</section>
<script src="/script.js"></script>