<section class="profile-section">
   
    {{#if error}} 
        <h2>Something went wrong!</h2>
    {{/if}}
    <p>Tell us a bit more about yourself.</p>
    <form
        action="/profile"
        method="post"
        name="register-form"
        id="register-form"
    >
        <input
            class="profile-input"
            type="number"
            id="input-age"
            name="age"
            placeholder="Age"
        /><br><br>
        <input
            class="profile-input"
            type="text"
            id="city"
            name="city"
            placeholder="City"
        /><br><br>
        <input
            class="profile-input"
            type="url"
            id="user-website-input"
            name="url"
            placeholder="Website"
        /><br /><br />
        <button id="profile-button">Continue</button>
    </form>
   <h4> <a href="/petition">Skip |</a> {{>logout}}</h4>
</section>