<section class="register-section">

    {{#if error}}
        <p class="error-msg">Email registered, please sign in.</p>
    {{/if}}
    <div class="register-upper-title-div">
        <p class="register-upper-title">Sign our petition and make an impact.<p />
        <p class="register-upper-title">Please register.</p>
    </div>
    <form
        action="/register"
        method="post"
        name="register-form"
        id="register-form"
    >
        <input
            class="register-input"
            type="text"
            id="input-name"
            name="first"
            placeholder="First Name"
            required
        />
        <input
            class="register-input"
            type="text"
            id="lastname"
            name="last"
            placeholder="Last Name"
            required
        />
        <input
            class="register-input"
            type="email"
            id="email-input"
            name="email"
            placeholder="email"
            required
        />
        <input
            class="register-input"
            type="password"
            id="password-input"
            name="password"
            placeholder="password"
            required
        />
        <button id="register-button">Submit</button>
    </form>
    <p class="go-to-sign-in">Already a member ?
        <a href="/login">Sign in</a></p>
</section>