<section class="register-section">
    <form action="" method="post" name="register-form" id="register-form">
        <input
            class="register-input"
            type="text"
            id="input-name"
            name="first"
            placeholder="First Name"
            required
        /><br />
        <input
            class="register-input"
            type="text"
            id="lastname"
            name="last"
            placeholder="Last Name"
            required
        /><br />
        <input
            class="register-input"
            type="email"
            id="email-input"
            name="email"
            placeholder="email"
            required
        /><br />
        <input
            class="register-input"
            type="password"
            id="password-input"
            name="password"
            placeholder="password"
            required
        /><br />
        <button name="register-button" id="register-button">Submit</button>
    </form>

    <h4 id="register-title">Already a member ?
        <a id="sign-in-link" href="/login">Sign in</a></h4>
</section>