<section class="signers-section">
    {{>logout}}
    <h5>Those are the people who signed:</h5>
    <ol id="signers">
        {{#listOfSigners}}
            <li class="signer-item">
                <p>{{first}} {{last}}</p>
            </li>
            <a href="/signers/{{cityName}}">{{cityName}}</a>
        {{/listOfSigners}}
    </ol>
</section>