<section class="thanks-section">
    <h3>Thank you!</h3>
    <img src="{{signatureSrc}}" /><br />
    <form action="/thanks" method="post" name="form">
        <button>Delete</button>
    </form>

    <h4><a href="/signers">Click here to see who already joined. We have a total
            of:
            {{totalSigners}}</a></h4>
</section>