<section class="thanks-section">
    {{>logout}}
    <a href="/edit"><h3>Edit your profile</h3></a>
    <h3>Thank you {{first}} for joining, We appreciate your support!</h3>
    <img src="{{signatureSrc}}" /><br />
    <form action="/thanks" method="post" name="form">
        <button>Delete</button>
    </form>

    <h4><a href="/signers">Click here to see those who joined. There are already 
            {{totalSigners}} supporters </a></h4>
</section>