<section class="thanks-section">
  
    <h3 id="thank-you">Thank you {{first}} for joining. We appreciate your support!</h3>
    <img src="{{signatureSrc}}" /><br />

     <h4><a id="signers-link" href="/signers">Click here to see those who joined. There are already 
            {{totalSigners}} supporters </a></h4>
    <form action="/thanks" method="post" name="delete">
        <button id="delete-button">Delete</button>
    </form>

    {{>logout}}
    <a id="edit-link" href="/edit"><h5>Edit your profile</h5></a>
   
</section>