<section class="thanks-section">
    <p class="thank-you">Thank you {{first}} for your support !</p>
    <img src="{{signatureSrc}}" />
    <p class="supporters-par"><a class="signers-link" href="/signers">Click here
        </a>to see more supporters like you.</p>
    <p class="supporters-par">
        There are already
        {{totalSigners}}
        supporters !
    </p>
    <form action="/thanks" method="post" name="delete">
        <button class="delete-button">Delete</button>
    </form>
    <a class="edit-link" href="/edit"><p class="edit-par">Edit your profile</p></a>

</section>