:root {
    --button-color: rgb(238, 204, 6);
    --font-color: rgb(0, 0, 0);
    --error-and-links-color: rgb(238, 66, 9);
    --background-forms: rgba(255, 255, 255, 0.5);
    --user-input-border-bottom: solid 1px rgba(0, 0, 128, 0.7);
    --light-font: lighter;
    --text-deco: none;
    --font-family: "Gill Sans", "Gill Sans MT", "Calibri", "Trebuchet MS";
}

* {
    margin: 0px;
    padding: 0px;
}

html {
    font-size: 14.9px;
}

body {
    background: linear-gradient(rgb(2, 110, 97), white);
    background-repeat: no-repeat;
    font-family: var(--font-family);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.main_container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.main-container .page_content_section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}

header {
    height: auto;
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
}

hr {
    opacity: 0.3;
}

.hr-header {
    width: 100%;
}

header .vitaminsea-title {
    padding: 1rem;
    font-size: 4rem;
    color: rgb(5, 5, 180);
    grid-column: 1 / 2;
    grid-row: 1;
}

header .logout-div {
    padding: 2rem;
    grid-column: 2 / 3;
    grid-row: 1;
    justify-self: flex-end;
}

.logout-div a {
    text-decoration: var(--text-deco);
    color: var(--error-and-links-color);
    font-weight: var(--light-font);
    font-size: 1.6rem;
}

header a {
    text-decoration: var(--text-deco);
    color: var(--font-color);
}

footer {
    background-color: rgb(203, 200, 200);
    width: 100%;
    height: 17rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
}

footer .footer_content_div {
    gap: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer_content_div .footer-title-and-logo-div {
    display: flex;
    gap: 1.5rem;
    margin-bottom: 1rem;
}

.footer-title-and-logo-div img {
    width: 3.5rem;
    height: 3.5rem;
}

.footer_content_div .footer-title {
    color: var(--font-color);
    font-size: 1rem;
    font-weight: var(--light-font);
}

.footer-menu-div ul {
    display: flex;
    gap: 3rem;
}

.footer-menu-div ul li {
    list-style: none;
    color: var(--font-color);
}

.social-media-icons-div {
    display: flex;
    gap: 2rem;
}

.social-media-icons-div img {
    height: 2.5rem;
    width: 2.5rem;
}

footer h6 {
    color: var(--font-color);
    font-weight: var(--light-font);
    font-size: 1rem;
}
/*-----------------------HOME TEMPLATE----------------------*/
.home-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home-section .home-title {
    color: var(--font-color);
    font-size: 6.5rem;
}

.home-section form {
    margin-top: 2rem;
}

.home-section button {
    cursor: pointer;
    color: var(--font-color);
    background-color: var(--button-color);
    font-family: var(--font-family);
    border: none;
    font-weight: var(--light-font);
    border-radius: 2px;
    font-size: 1.5rem;
    width: 12rem;
    height: 3rem;
}
/* ----------------------register template--------------------- */
.register-section {
    background-color: var(--background-forms);
    padding: 2rem;
    width: 40rem;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;
}

.register-section form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.register-section a {
    text-decoration: var(--text-deco);
    color: var(--error-and-links-color);
    font-size: 2rem;
}

.register-section .error-msg {
    font-size: 1.8rem;
    font-weight: var(--light-font);
    color: var(--error-and-links-color);
}

.register-section input {
    padding: 1rem;
    width: 30rem;
    height: 3rem;
    font-size: 1rem;
    font-weight: var(--light-font);
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: var(--user-input-border-bottom);
}

.register-section button {
    cursor: pointer;
    color: var(--font-color);
    background-color: var(--button-color);
    font-family: var(--font-family);
    border: none;
    font-weight: var(--light-font);
    border-radius: 2px;
    font-size: 1.5rem;
    width: 12rem;
    height: 3rem;
}

.register-section .register-upper-title {
    font-size: 1.6rem;
    font-weight: var(--light-font);
}

.register-section .go-to-sign-in {
    font-size: 1.8rem;
    font-weight: var(--light-font);
}
/* ----------------------profile template--------------------- */
.profile-section {
    background-color: var(--background-forms);
    padding: 2rem;
    width: 40rem;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.profile-section form {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.profile-section .error-msg {
    color: var(--error-and-links-color);
    font-size: 2rem;
    font-weight: var(--light-font);
}

.profile-section .profile-title {
    font-size: 1.8rem;
    font-weight: var(--light-font);
}

.profile-section input {
    padding: 0.8rem;
    width: 30rem;
    height: 3rem;
    font-size: 1rem;
    font-weight: var(--light-font);
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: var(--user-input-border-bottom);
}

.profile-section button {
    cursor: pointer;
    color: var(--font-color);
    background-color: var(--button-color);
    font-family: var(--font-family);
    border: none;
    font-weight: var(--light-font);
    border-radius: 2px;
    font-size: 1.5rem;
    width: 12rem;
    height: 3rem;
    margin-bottom: 1rem;
}

.profile-section .skip {
    margin-top: 1rem;
    font-size: 1.8rem;
    font-weight: var(--light-font);
    text-decoration: var(--text-deco);
    color: var(--error-and-links-color);
}

.profile-section a {
    text-decoration: var(--text-deco);
    color: rgb(238, 66, 9);
}
/* ----------------------login template--------------------- */
.login-section {
    background-color: var(--background-forms);
    padding: 2rem;
    width: 40rem;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}

.login-section form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-section .error-msg {
    color: var(--error-and-links-color);
    font-size: 2rem;
    font-weight: var(--light-font);
}

.login-section .sign-in-title {
    font-size: 2rem;
    font-weight: var(--light-font);
}

.login-section a {
    font-size: 2rem;
    font-weight: var(--light-font);
    text-decoration: var(--text-deco);
    color: var(--error-and-links-color);
}

.login-section input {
    padding: 0.8rem;
    width: 30rem;
    height: 3rem;
    font-size: 1rem;
    font-weight: var(--light-font);
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: var(--user-input-border-bottom);
}

.login-section button {
    cursor: pointer;
    color: var(--font-color);
    background-color: var(--button-color);
    font-family: var(--font-family);
    border: none;
    font-weight: var(--light-font);
    border-radius: 2px;
    font-size: 1.5rem;
    width: 12rem;
    height: 3rem;
}
/* ----------------------petition template--------------------- */
.petition-section {
    background-color: var(--background-forms);
    padding: 2rem;
    width: 40rem;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1.5rem;
}

.petition-section .petition-title {
    font-weight: var(--light-font);
    font-size: 1.8rem;
    line-height: 3rem;
}

.petition-section form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1.5rem;
}

.petition-section .submit-button {
    cursor: pointer;
    color: var(--font-color);
    background-color: var(--button-color);
    font-family: var(--font-family);
    border: none;
    font-weight: var(--light-font);
    border-radius: 2px;
    font-size: 1.5rem;
    width: 12rem;
    height: 3rem;
}

.petition-section canvas {
    background-color: antiquewhite;
    border: none;
    border: 1px rgb(0, 0, 0, 0.3) solid;
    border-radius: 0px;
}
/* ----------------------thanks template--------------------- */
.thanks-section {
    background-color: var(--background-forms);
    padding: 2rem;
    width: 40rem;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.thanks-section .thank-you {
    font-weight: var(--light-font);
    font-size: 2.5rem;
}

.thanks-section img {
    background-color: antiquewhite;
    width: 30rem;
    height: 10rem;
    border-radius: 10px;
}

.thanks-section .delete-button {
    cursor: pointer;
    color: var(--font-color);
    background-color: var(--button-color);
    font-family: var(--font-family);
    border: none;
    font-weight: var(--light-font);
    border-radius: 2px;
    font-size: 1.5rem;
    width: 12rem;
    height: 3rem;
}

.thanks-section .supporters-par {
    font-weight: var(--light-font);
    font-size: 1.5rem;
    line-height: 3rem;
}

.thanks-section .signers-link {
    text-decoration: var(--text-deco);
    color: var(--error-and-links-color);
    font-weight: var(--light-font);
    font-size: 1.5rem;
}

.thanks-section .edit-par {
    font-weight: var(--light-font);
    font-size: 1.5rem;
    color: var(--error-and-links-color);
}

.thanks-section .edit-link {
    text-decoration: var(--text-deco);
}
/* ----------------------signers template--------------------- */
.signers-section {
    margin-top: 3rem;
    background-color: var(--background-forms);
    padding: 2rem;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.signers-title-div .signers-title {
    font-size: 2.2rem;
    font-weight: var(--light-font);
    margin-bottom: 2rem;
}

.signers-section .signers-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 0.3rem 0rem;
    justify-content: center;
    margin-bottom: 5rem;
}

.signers-container .signer-div {
    grid-row-start: 1/2;
    grid-column-start: 1/2;
    border: none;
    border-radius: 5px;
    background-color: rgba(238, 204, 6, 0.8);
    color: var(--font-color);
    padding: 1rem;
    height: 6rem;
    width: 6rem;
    display: grid;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.signers-section .signer {
    font-size: 1rem;
    font-weight: var(--light-font);
    line-height: 1.8rem;
}

.signers-section .same-city-container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 0.5rem 0.5rem;
    justify-content: center;
}

.same-city-container .same-city-div {
    grid-row-start: 1/2;
    grid-column-start: 1/2;
    border: none;
    border-radius: 10px;
    background-color: rgba(238, 204, 6, 0.8);
    color: var(--font-color);
    padding: 1rem;
    height: 6rem;
    width: 6rem;
    display: grid;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.signers-section a {
    text-decoration: var(--text-deco);
}

.signers-section .same-city-title {
    font-size: 2rem;
    font-weight: var(--light-font);
    margin-bottom: 2rem;
}
/* ----------------------edit template--------------------- */
.edit-section {
    margin-top: 3rem;
    background-color: rgba(255, 255, 255, 0.3);
    width: 40rem;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 1.5rem;
}

.edit-section .edit-title {
    margin-top: 2rem;
    font-size: 2.5rem;
    font-weight: var(--light-font);
}

.edit-section form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.2rem;
}

.edit-section .input-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 0.4rem;
    margin-bottom: 0.3rem;
}

.edit-section label {
    font-size: 1.2rem;
    font-weight: var(--light-font);
}

.edit-section input {
    padding: 1rem;
    width: 30rem;
    height: 3rem;
    font-size: 1rem;
    font-weight: var(--light-font);
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: var(--user-input-border-bottom);
}

.edit-section button {
    cursor: pointer;
    color: var(--font-color);
    background-color: var(--button-color);
    font-family: var(--font-family);
    border: none;
    font-weight: var(--light-font);
    border-radius: 2px;
    font-size: 1.5rem;
    width: 12rem;
    height: 3rem;
    margin-top: 2rem;
}

@media only screen and (max-width: 480px) and (orientation: portrait) {
    hr {
        display: none;
    }

    header {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
    }

    header .vitaminsea-title {
        font-size: 1.5rem;
        align-self: center;
    }

    header .logout-div {
        font-size: 1.5rem;
    }

    .logout-div a {
        text-decoration: var(--text-deco);
        color: var(--error-and-links-color);
        font-weight: var(--light-font);
        font-size: 1rem;
    }

    footer {
        width: 100%;
        height: 8rem;
    }

    footer .footer_content_div {
        height: 100%;
        width: 100%;
        gap: 1rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .footer_content_div .footer-title-and-logo-div {
        padding: 1rem;
        grid-column: 2/3;
        grid-row: 1/2;
        gap: 1rem;
        justify-content: flex-end;
        align-items: flex-end;
        margin-bottom: 0rem;
        margin-right: 1.3rem;
    }

    .footer-title-and-logo-div img {
        width: 2.5rem;
        height: 2.5rem;
    }

    .footer_content_div .footer-title {
        font-size: 0.7rem;
    }

    .footer_content_div .footer-menu-div {
        grid-column: 1/2;
        grid-row: 1/2;
        padding-left: 1rem;
        padding-top: 1rem;
    }

    .footer-menu-div ul {
        flex-direction: column;
        gap: 0.8rem;
    }

    .footer-menu-div ul li {
        font-size: 0.6rem;
    }

    .social-media-icons-div {
        grid-column: 2/3;
        grid-row: 2/3;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        gap: 1rem;
        padding-right: 1rem;
        padding-bottom: 2rem;
    }

    .social-media-icons-div img {
        height: 1.5rem;
        width: 1.5rem;
    }

    footer h6 {
        grid-column: 1/2;
        grid-row: 2/3;
        padding-left: 1rem;
        font-size: 0.6rem;
        padding-bottom: 1.5rem;
    }
    /*-----------------------HOME TEMPLATE----------------------*/
    .home-section .home-title {
        color: var(--font-color);
        font-size: 3rem;
        width: auto;
        margin-bottom: -5rem;
        padding-bottom: 5rem;
    }

    .home-section button {
        font-size: 1rem;
        width: 7rem;
        height: 2rem;
        margin-bottom: 5rem;
    }

    /* ----------------------register template--------------------- */
    .register-section {
        background-color: rgba(255, 255, 255, 0);
        width: auto;
    }

    .register-section form {
        gap: 1.2rem;
    }

    .register-section a {
        font-size: 1rem;
    }

    .register-section .error-msg {
        font-size: 1rem;
    }

    .register-section .register-upper-title {
        font-size: 1rem;
    }

    .register-section input {
        padding: 0.8rem;
        width: 13rem;
        height: 1.5rem;
        font-size: 0.7rem;
    }

    .register-section button {
        font-size: 1rem;
        width: 8rem;
        height: 2rem;
    }

    .register-section .go-to-sign-in {
        font-size: 1rem;
    }
    /* ----------------------profile template--------------------- */
    .profile-section {
        background-color: rgba(255, 255, 255, 0);
        padding: 0rem;
        width: auto;
    }

    .profile-section .error-msg {
        font-size: 1.2rem;
    }

    .profile-section .profile-title {
        font-size: 1rem;
    }

    .profile-section input {
        padding: 0.8rem;
        width: 13rem;
        height: 1.5rem;
        font-size: 0.7rem;
    }

    .profile-section button {
        font-size: 1rem;
        width: 8rem;
        height: 2rem;
    }

    .profile-section .skip {
        margin-top: 0.5rem;
        font-size: 1rem;
    }
    /* ----------------------login template--------------------- */
    .login-section {
        background-color: rgba(255, 255, 255, 0);
        width: auto;
        gap: 2rem;
    }

    .login-section .error-msg {
        font-size: 1rem;
    }

    .login-section .sign-in-title {
        font-size: 1.2rem;
    }

    .login-section a {
        font-size: 1rem;
    }

    .login-section input {
        padding: 0.8rem;
        width: 13rem;
        height: 1.5rem;
        font-size: 0.7rem;
    }

    .login-section button {
        font-size: 1rem;
        width: 8rem;
        height: 2rem;
    }
    /* ----------------------petition template--------------------- */
    .petition-section {
        background-color: rgba(255, 255, 255, 0);
        width: auto;
        gap: 1rem;
    }

    .petition-section .petition-title {
        font-size: 1rem;
        line-height: 2rem;
        height: auto;
        width: 12rem;
    }

    .petition-section form {
        gap: 1rem;
    }

    .petition-section canvas {
        width: 16rem;
        height: 6.5rem;
        border: 1px rgb(0, 0, 0, 0.3) solid;
        border-radius: 0px;
    }

    .petition-section .submit-button {
        margin-top: 2rem;
        font-size: 1rem;
        width: 8rem;
        height: 2rem;
    }
    /* ----------------------thanks template--------------------- */
    .thanks-section {
        background-color: rgba(255, 255, 255, 0);
        width: auto;
        gap: 2rem;
        justify-content: flex-start;
    }

    .thanks-section .thank-you {
        font-size: 1rem;
    }

    .thanks-section img {
        width: 13rem;
        height: 5rem;
    }

    .thanks-section .delete-button {
        font-size: 1rem;
        width: 8rem;
        height: 2rem;
    }

    .thanks-section .supporters-par {
        font-size: 0.9rem;
        line-height: 1.2rem;
    }

    .thanks-section .signers-link {
        font-size: 0.9rem;
    }

    .thanks-section .edit-par {
        font-size: 0.9rem;
    }

    .thanks-section .edit-link {
        font-size: 0.9rem;
    }
    /* ----------------------signers template--------------------- */
    .signers-section {
        background-color: rgba(255, 255, 255, 0);
        width: auto;
        height: auto;
    }

    .signers-section .signers-title-div {
        width: 15rem;
        line-height: 1.3;
    }

    .signers-title-div .signers-title {
        font-size: 1rem;
        height: auto;
        line-height: 1.3rem;
    }

    .signers-section .signers-container {
        grid-template-columns: repeat(2, 1fr);
        gap: 0.2rem 0.2rem;
        margin-bottom: 2rem;
        width: auto;
        height: auto;
    }

    .signers-container .signer-div {
        height: 4.5rem;
        width: 4.5rem;
    }

    .signers-section .signer {
        font-size: 0.8rem;
        line-height: 1.2rem;
    }

    .signers-section .same-city-container {
        grid-template-columns: repeat(2, 1fr);
        gap: 0.2rem 0.2rem;
        margin-bottom: 2rem;
        width: auto;
        height: auto;
    }

    .same-city-container .same-city-div {
        height: 5rem;
        width: 5rem;
    }

    .signers-section .same-city-title {
        font-size: 1rem;
        margin-bottom: 1.5rem;
    }
    /* ----------------------edit template--------------------- */
    .edit-section {
        position: relative;
        background-color: rgba(255, 255, 255, 0);
        width: auto;
        height: auto;
        gap: 1rem;
        bottom: 4rem;
        overflow: hidden;
    }

    .edit-section .edit-title {
        font-size: 1rem;
    }

    .edit-section form {
        gap: 0.8rem;
    }

    .edit-section .input-div {
        gap: 0.4rem;
        margin-bottom: 0.3rem;
    }

    .edit-section label {
        font-size: 0.8rem;
    }

    .edit-section input {
        padding: 0.8rem;
        width: 13rem;
        height: 1.5rem;
        font-size: 0.7rem;
    }

    .edit-section button {
        position: relative;
        font-size: 1rem;
        width: 8rem;
        height: 2rem;
        bottom: 1.5rem;
    }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
    header {
        height: auto;
        width: 100%;
        display: grid;
        grid-template-columns: 50% 50%;
    }

    hr {
        display: none;
    }

    header .vitaminsea-title {
        font-size: 2rem;
        grid-column: 1 / 2;
        grid-row: 1;
    }

    header .logout-div {
        position: relative;
        bottom: 0.4rem;
        grid-column: 2 / 3;
        grid-row: 1;
        justify-self: flex-end;
    }

    .logout-div a {
        font-size: 1.3rem;
    }

    header a {
        text-decoration: var(--text-deco);
        color: var(--font-color);
    }

    footer {
        width: 100%;
        height: 8rem;
    }

    footer .footer_content_div {
        height: 100%;
        width: 100%;
        gap: 1rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .footer_content_div .footer-title-and-logo-div {
        padding: 1rem;
        grid-column: 2/3;
        grid-row: 1/2;
        gap: 1rem;
        justify-content: flex-end;
        align-items: flex-end;
        margin-bottom: 0rem;
        margin-right: 1.3rem;
    }

    .footer-title-and-logo-div img {
        width: 2.5rem;
        height: 2.5rem;
    }

    .footer_content_div .footer-title {
        font-size: 0.7rem;
    }

    .footer_content_div .footer-menu-div {
        grid-column: 1/2;
        grid-row: 1/2;
        padding-left: 1rem;
        padding-top: 1rem;
    }

    .footer-menu-div ul {
        flex-direction: column;
        gap: 0.8rem;
    }

    .footer-menu-div ul li {
        font-size: 0.6rem;
    }

    .social-media-icons-div {
        grid-column: 2/3;
        grid-row: 2/3;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        gap: 1rem;
        padding-right: 1rem;
        padding-bottom: 2rem;
    }

    .social-media-icons-div img {
        height: 1.5rem;
        width: 1.5rem;
    }

    footer h6 {
        grid-column: 1/2;
        grid-row: 2/3;
        padding-left: 1rem;
        font-size: 0.6rem;
        padding-bottom: 1.5rem;
    }
    /*-----------------------HOME TEMPLATE----------------------*/
    .home-section .home-title {
        color: var(--font-color);
        font-size: 3.5rem;
    }

    .home-section form {
        margin-top: 2rem;
    }

    .home-section button {
        font-size: 1rem;
        width: 9rem;
        height: 2.2rem;
    }
    /* ----------------------register template--------------------- */
    .register-section {
        background-color: rgba(255, 255, 255, 0);
        padding: 2rem;
        width: auto;
        gap: 0.5rem;
    }

    .register-section form {
        gap: 1.3rem;
    }

    .register-section a {
        font-size: 1.1rem;
    }

    .register-section .error-msg {
        font-size: 1.1rem;
    }

    .register-section input {
        padding: 0.8rem;
        width: 22rem;
        height: 2.2rem;
        font-size: 0.8rem;
    }

    .register-section button {
        font-size: 1rem;
        width: 9rem;
        height: 2.2rem;
    }

    .register-section .register-upper-title {
        font-size: 1.1rem;
        line-height: 2rem;
    }

    .register-section .go-to-sign-in {
        margin-top: 0.5rem;
        font-size: 1.1rem;
    }
    /* ----------------------profile template--------------------- */
    .profile-section {
        background-color: rgba(255, 255, 255, 0);
        padding: 1.5rem;
        width: auto;
    }

    .profile-section form {
        margin-top: 1.5rem;
        gap: 1rem;
    }

    .profile-section .error-msg {
        font-size: 1.5rem;
    }

    .profile-section .profile-title {
        font-size: 1.3rem;
    }

    .profile-section input {
        padding: 0.8rem;
        width: 22rem;
        height: 2.2rem;
        font-size: 0.8rem;
    }

    .profile-section button {
        font-size: 1rem;
        width: 9rem;
        height: 2.2rem;
        margin-top: 2rem;
    }

    .profile-section .skip {
        margin-top: 1rem;
        font-size: 1rem;
    }
    /* ----------------------login template--------------------- */
    .login-section {
        background-color: rgba(255, 255, 255, 0);
        padding: 0rem;
        width: auto;
        gap: 2rem;
    }

    .login-section .error-msg {
        font-size: 1.1rem;
    }

    .login-section .sign-in-title {
        font-size: 1.1rem;
    }

    .login-section a {
        font-size: 1.1rem;
    }

    .login-section input {
        padding: 0.8rem;
        width: 22rem;
        height: 2.2rem;
        font-size: 0.8rem;
    }

    .login-section button {
        font-size: 1rem;
        width: 9rem;
        height: 2.2rem;
        margin-top: 2rem;
    }
    /* ----------------------petition template--------------------- */
    .petition-section {
        background-color: rgba(255, 255, 255, 0);
        width: auto;
        gap: 0rem;
    }

    .petition-section .petition-title {
        font-size: 1.1rem;
        line-height: 1.8rem;
    }

    .petition-section .submit-button {
        font-size: 1rem;
        width: 9rem;
        height: 2.2rem;
        margin-top: 2rem;
    }

    .petition-section canvas {
        width: 20rem;
        height: 7rem;
    }
    /* ----------------------thanks template--------------------- */
    .thanks-section {
        background-color: rgba(255, 255, 255, 0);
        padding: 1rem;
        width: auto;
        gap: 2rem;
    }

    .thanks-section .thank-you {
        font-size: 1.1rem;
    }

    .thanks-section img {
        width: 20rem;
        height: 7rem;
        border: 1px rgb(0, 0, 0, 0.3) solid;
        border-radius: 0px;
    }

    .thanks-section form {
        position: relative;
        bottom: 1.5rem;
    }

    .thanks-section .delete-button {
        font-size: 1rem;
        width: 9rem;
        height: 2.2rem;
        margin-top: 2rem;
    }

    .thanks-section .supporters-par {
        font-size: 1.125rem;
        line-height: 1rem;
    }

    .thanks-section .signers-link {
        font-size: 1.125rem;
    }

    .thanks-section .edit-par {
        position: relative;
        bottom: 2rem;
        font-size: 1.1rem;
    }
    /* ----------------------signers template--------------------- */
    .signers-section {
        background-color: rgba(255, 255, 255, 0);
        width: auto;
        justify-content: center;
    }

    .signers-section .signers-title-div {
        width: 18rem;
        line-height: 1.3;
    }

    .signers-title-div .signers-title {
        font-size: 1.2rem;
        margin-bottom: 1rem;
    }

    .signers-section .signers-container {
        width: auto;
        grid-template-columns: repeat(3, 1fr);
        gap: 0.3rem 0.3rem;
    }

    .signers-container .signer-div {
        padding: 0.8rem;
        height: 6rem;
        width: 6rem;
    }

    .signers-section .signer {
        font-size: 1rem;
        line-height: 1.3rem;
    }

    .signers-section .same-city-container {
        width: auto;
        grid-template-columns: repeat(3, 1fr);
        gap: 0.3rem 0.3rem;
    }

    .same-city-container .same-city-div {
        padding: 0.8rem;
        height: 6rem;
        width: 6rem;
    }

    .signers-section .same-city-title {
        font-size: 1.2rem;
        margin-bottom: 1rem;
    }
    /* ----------------------edit template--------------------- */
    .edit-section {
        margin-top: 0rem;
        background-color: rgba(255, 255, 255, 0);
        width: auto;
        gap: 0rem;
    }

    .edit-section .edit-title {
        margin-top: 0rem;
        font-size: 1.3rem;
    }

    .edit-section form {
        gap: 1rem;
    }

    .edit-section .input-div {
        gap: 0.2rem;
        margin-bottom: 0;
    }

    .edit-section label {
        font-size: 0.8rem;
    }

    .edit-section input {
        padding: 0.8rem;
        width: 20rem;
        height: 2.2rem;
        font-size: 0.8rem;
    }

    .edit-section button {
        font-size: 1rem;
        width: 9rem;
        height: 2.2rem;
    }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
    header {
        width: 100%;
        height: 4rem;
        display: grid;

        grid-template-columns: 50% 50%;
    }

    header .vitaminsea-title {
        padding: 0.5rem;
        font-size: 2.5rem;
    }

    header .logout-div {
        padding: 1.5rem;
        justify-self: flex-end;
    }

    .logout-div a {
        font-size: 1.2rem;
    }

    hr {
        opacity: 0.3;
    }

    footer {
        width: 100%;
        height: 9rem;
    }

    footer .footer_content_div {
        height: 100%;
        width: 100%;
        gap: 1rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .footer_content_div .footer-title-and-logo-div {
        padding: 1rem;
        grid-column: 2/3;
        grid-row: 1/2;
        gap: 1rem;
        justify-content: flex-end;
        align-items: flex-end;
        margin-bottom: 0rem;
        margin-right: 0.8rem;
    }

    .footer-title-and-logo-div img {
        width: 2.8rem;
        height: 2.8rem;
    }

    .footer_content_div .footer-title {
        font-size: 0.8rem;
    }

    .footer_content_div .footer-menu-div {
        grid-column: 1/2;
        grid-row: 1/2;
        padding-left: 1rem;
        padding-top: 1rem;
    }

    .footer-menu-div ul {
        flex-direction: column;
        gap: 0.8rem;
    }

    .footer-menu-div ul li {
        font-size: 0.7rem;
    }

    .social-media-icons-div {
        grid-column: 2/3;
        grid-row: 2/3;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        gap: 1rem;
        padding-right: 1rem;
        padding-bottom: 2rem;
    }

    .social-media-icons-div img {
        height: 1.6rem;
        width: 1.6rem;
    }

    footer h6 {
        grid-column: 1/2;
        grid-row: 2/3;
        padding-left: 1rem;
        font-size: 0.6rem;
        padding-bottom: 1.5rem;
    }
    /*-----------------------HOME TEMPLATE----------------------*/
    .home-section .home-title {
        font-size: 4rem;
    }

    .home-section button {
        font-size: 1rem;
        width: 10rem;
        height: 2.5rem;
    }
    /* ----------------------register template--------------------- */
    .register-section {
        width: auto;
        padding: 1rem;
        gap: 1.5rem;
    }

    .register-section form {
        gap: 1.5rem;
    }

    .register-section a {
        font-size: 1.2rem;
    }

    .register-section .error-msg {
        font-size: 1.2rem;
    }

    .register-section input {
        padding: 0.8rem;
        width: 25rem;
        height: 2.2rem;
        font-size: 0.8rem;
    }

    .register-section button {
        font-size: 1rem;
        width: 10rem;
        height: 2.5rem;
    }

    .register-section .register-upper-title {
        font-size: 1.2rem;
        line-height: 1.5rem;
    }

    .register-section .go-to-sign-in {
        font-size: 1.2rem;
    }
    /* ----------------------profile template--------------------- */
    .profile-section {
        padding: 1rem;
        width: auto;
    }

    .profile-section form {
        margin-top: 2rem;
        gap: 2rem;
    }

    .profile-section .error-msg {
        font-size: 1.2rem;
    }

    .profile-section .profile-title {
        font-size: 1.2rem;
    }

    .profile-section input {
        padding: 0.8rem;
        width: 25rem;
        height: 2.2rem;
        font-size: 0.8rem;
    }

    .profile-section button {
        font-size: 1rem;
        width: 10rem;
        height: 2.5rem;
    }

    .profile-section .skip {
        font-size: 1.2rem;
    }
    /* ----------------------login template--------------------- */
    .login-section {
        padding: 1rem;
        width: auto;
        gap: 3rem;
    }

    .login-section .error-msg {
        font-size: 1.2rem;
    }

    .login-section .sign-in-title {
        font-size: 1.2rem;
    }

    .login-section a {
        font-size: 1.2rem;
    }

    .login-section input {
        padding: 0.8rem;
        width: 25rem;
        height: 2.2rem;
        font-size: 0.8rem;
    }

    .login-section button {
        font-size: 1rem;
        width: 10rem;
        height: 2.5rem;
    }
    /* ----------------------petition template--------------------- */
    .petition-section {
        padding: 1rem;
        width: auto;
        gap: 0rem;
    }

    .petition-section .petition-title {
        font-size: 1.3rem;
        line-height: 2rem;
    }

    .petition-section form {
        gap: 1rem;
    }

    .petition-section .submit-button {
        font-size: 1rem;
        width: 10rem;
        height: 2.5rem;
    }

    .petition-section canvas {
        width: 25rem;
        height: 10rem;
    }
    /* ----------------------thanks template--------------------- */
    .thanks-section {
        padding: 1rem;
        width: auto;
        gap: 1rem;
    }

    .thanks-section .thank-you {
        font-size: 1.2rem;
    }

    .thanks-section img {
        width: 25rem;
        height: 10rem;
    }

    .thanks-section .delete-button {
        font-size: 1rem;
        width: 10rem;
        height: 2.5rem;
    }

    .thanks-section .supporters-par {
        font-size: 1.1rem;
        line-height: 2rem;
    }

    .thanks-section .signers-link {
        font-size: 1.1rem;
    }

    .thanks-section .edit-par {
        font-size: 1.1rem;
    }
    /* ----------------------signers template--------------------- */
    .signers-section {
        margin-top: 1.5rem;
        background-color: var(--background-forms);
        padding: 1.5rem;
        width: auto;
    }

    .signers-title-div .signers-title {
        font-size: 1.2rem;
        margin-bottom: 1rem;
    }

    .signers-section .signers-container {
        grid-template-columns: repeat(4, 1fr);
        gap: 0.3rem 0rem;
        margin-bottom: 3rem;
    }

    .signers-container .signer-div {
        padding: 1rem;
        height: 6rem;
        width: 6rem;
    }

    .signers-section .signer {
        font-size: 1rem;
        line-height: 1.5rem;
    }

    .signers-section .same-city-container {
        width: auto;
        grid-template-columns: repeat(4, 1fr);
        gap: 0.3rem 0.3rem;
    }

    .signers-section a {
        text-decoration: var(--text-deco);
    }

    .signers-section .same-city-title {
        font-size: 1.2rem;
        margin-bottom: 1rem;
    }
    /* ----------------------edit template--------------------- */
    .edit-section {
        background-color: var(--background-forms);
        height: auto;
        overflow: scroll;
        margin-top: 1.5rem;
        width: auto;
        gap: 1rem;
    }

    .edit-section .edit-title {
        margin-top: 1rem;
        font-size: 1.2rem;
    }

    .edit-section form {
        padding: 1rem;
        gap: 1.5rem;
    }

    .edit-section .input-div {
        gap: 0.4rem;
        margin-bottom: 0.3rem;
    }

    .edit-section label {
        font-size: 1rem;
    }

    .edit-section input {
        padding: 0.8rem;
        width: 25rem;
        height: 2rem;
        font-size: 0.8rem;
    }

    .edit-section button {
        margin-bottom: 4rem;
        font-size: 1rem;
        width: 10rem;
        height: 2.5rem;
    }
}

@media only screen and (min-width: 1025px) and (max-width: 1200px) {
    header {
        width: 100%;
        height: 4rem;
        display: grid;
        grid-template-columns: 50% 50%;
    }

    header .vitaminsea-title {
        margin-left: 1rem;
        padding: 0.5rem;
        font-size: 2.5rem;
    }

    header .logout-div {
        padding: 1.5rem;
        justify-self: flex-end;
    }

    .logout-div a {
        font-size: 1.2rem;
    }

    hr {
        opacity: 0.3;
    }

    footer {
        width: 100%;
        height: 9rem;
    }

    footer .footer_content_div {
        height: 100%;
        width: 100%;
        gap: 1rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .footer_content_div .footer-title-and-logo-div {
        padding: 1rem;
        grid-column: 2/3;
        grid-row: 1/2;
        gap: 1rem;
        justify-content: flex-end;
        align-items: flex-end;
        margin-bottom: 0rem;
        margin-right: 0.8rem;
    }

    .footer-title-and-logo-div img {
        width: 3.2rem;
        height: 3.2rem;
    }

    .footer_content_div .footer-title {
        font-size: 1rem;
    }

    .footer_content_div .footer-menu-div {
        grid-column: 1/2;
        grid-row: 1/2;
        padding-left: 1rem;
        padding-top: 1rem;
    }

    .footer-menu-div ul {
        flex-direction: column;
        gap: 0.6rem;
    }

    .footer-menu-div ul li {
        font-size: 0.8rem;
    }

    .social-media-icons-div {
        grid-column: 2/3;
        grid-row: 2/3;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        gap: 2rem;
        padding-right: 2rem;
        padding-bottom: 2rem;
    }

    .social-media-icons-div img {
        height: 1.8rem;
        width: 1.8rem;
    }

    footer h6 {
        grid-column: 1/2;
        grid-row: 2/3;
        padding-left: 1rem;
        font-size: 0.6rem;
        padding-bottom: 1.5rem;
    }
    /*-----------------------HOME TEMPLATE----------------------*/

    .home-section .home-title {
        font-size: 4rem;
    }

    .home-section form {
        margin-top: 1rem;
    }

    .home-section button {
        margin-bottom: 4rem;
        font-size: 1rem;
        width: 10rem;
        height: 2.5rem;
    }
    /* ----------------------register template--------------------- */
    .register-section {
        margin-top: 1rem;
        background-color: var(--background-forms);
        padding: 1rem;
        width: auto;
        gap: 0.8rem;
    }

    .register-section form {
        gap: 1.5rem;
    }

    .register-section a {
        font-size: 1.3rem;
    }

    .register-section .error-msg {
        font-size: 1.3rem;
    }

    .register-section input {
        padding: 1rem;
        width: 25rem;
        height: 2rem;
        font-size: 0.9rem;
    }

    .register-section button {
        font-size: 1rem;
        width: 10rem;
        height: 2.5rem;
    }

    .register-section .register-upper-title-div {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .register-upper-title-div .register-upper-title {
        font-size: 1rem;
        line-height: 1.5rem;
    }

    .register-section .go-to-sign-in {
        font-size: 1rem;
    }
    /* ----------------------profile template--------------------- */
    .profile-section {
        background-color: var(--background-forms);
        padding: 1rem;
        width: auto;
    }

    .profile-section form {
        margin-top: 1rem;
        gap: 1rem;
    }

    .profile-section .error-msg {
        font-size: 1rem;
    }

    .profile-section .profile-title {
        font-size: 1.2rem;
    }

    .profile-section input {
        padding: 1rem;
        width: 25rem;
        height: 2rem;
        font-size: 0.9rem;
    }

    .profile-section button {
        font-size: 1rem;
        width: 10rem;
        height: 2.5rem;
    }

    .profile-section .skip {
        margin-top: 1rem;
        font-size: 1.2rem;
    }
    /* ----------------------login template--------------------- */
    .login-section {
        padding: 1rem;
        width: auto;
        gap: 1.5rem;
    }

    .login-section .error-msg {
        font-size: 1.2rem;
    }

    .login-section .sign-in-title {
        font-size: 1.2rem;
    }

    .login-section a {
        font-size: 1.2rem;
    }

    .login-section input {
        width: 25rem;
        height: 2rem;
        font-size: 0.9rem;
    }

    .login-section button {
        font-size: 1rem;
        width: 10rem;
        height: 2.5rem;
    }
    /* ----------------------petition template--------------------- */
    .petition-section {
        padding: 1rem;
        width: auto;
        gap: 1.5rem;
    }

    .petition-section .petition-title {
        font-size: 1.2rem;
        line-height: 1.5rem;
    }

    .petition-section form {
        gap: 0rem;
    }

    .petition-section .submit-button {
        margin-top: 2rem;
        font-size: 1rem;
        width: 10rem;
        height: 2.5rem;
    }

    .petition-section canvas {
        width: 25rem;
        height: 10rem;
    }
    /* ----------------------thanks template--------------------- */
    .thanks-section {
        background-color: var(--background-forms);
        padding: 1rem;
        width: auto;
        gap: 1rem;
    }

    .thanks-section .thank-you {
        font-size: 1.3rem;
    }

    .thanks-section img {
        width: 30rem;
        height: 10rem;
    }

    .thanks-section .delete-button {
        font-size: 1rem;
        width: 10rem;
        height: 2.5rem;
    }

    .thanks-section .supporters-par {
        font-size: 1.2rem;
        line-height: 1.5rem;
    }

    .thanks-section .signers-link {
        font-size: 1.2rem;
    }

    .thanks-section .edit-par {
        font-size: 1.2rem;
    }
    /* ----------------------signers template--------------------- */
    .signers-section {
        background-color: var(--background-forms);
        padding: 1rem;
        width: auto;
    }

    .signers-title-div .signers-title {
        font-size: 1.2rem;
        margin-bottom: 1.5rem;
    }

    .signers-section .signers-container {
        grid-template-columns: repeat(5, 1fr);
        gap: 0.3rem 0.3rem;
        margin-bottom: 4rem;
    }

    .signers-container .signer-div {
        padding: 1rem;
        height: 6rem;
        width: 6rem;
    }

    .signers-section .signer {
        font-size: 0.8rem;
        line-height: 1.3rem;
    }

    .signers-section .same-city-container {
        grid-template-columns: repeat(5, 1fr);
        gap: 0.3rem 0.3rem;
        margin-bottom: 4rem;
    }

    .same-city-container .same-city-div {
        padding: 1rem;
        height: 6rem;
        width: 6rem;
    }

    .signers-section .same-city-title {
        font-size: 1.2rem;
        margin-bottom: 1rem;
    }
    /* ----------------------edit template--------------------- */
    .edit-section {
        position: relative;
        bottom: 2.5rem;
        height: auto;
        padding: 1rem;
        background-color: var(--background-forms);
        width: auto;
        height: 100vh;
        gap: 1.5rem;
    }

    .edit-section .edit-title {
        font-size: 1.2rem;
        position: relative;
        bottom: 2rem;
    }

    .edit-section form {
        gap: 1rem;
        position: relative;
        bottom: 2rem;
    }

    .edit-section .input-div {
        gap: 0.4rem;
    }

    .edit-section label {
        font-size: 1rem;
    }

    .edit-section input {
        width: 25rem;
        height: 2rem;
        font-size: 0.9rem;
    }

    .edit-section button {
        font-size: 1rem;
        width: 10rem;
        height: 2.5rem;
        position: relative;
        bottom: 1rem;
    }
}

@media only screen and (min-width: 1201px) and (max-width: 1600px) {
    header {
        height: 4.5rem;
    }

    header .logout-div {
        padding: 1.5rem;
    }

    .logout-div a {
        font-size: 1.5rem;
    }

    header .vitaminsea-title {
        margin-left: 1rem;
        padding: 0.5rem;
        font-size: 3rem;
    }

    footer {
        width: 100%;
        height: 9rem;
    }

    footer .footer_content_div {
        height: 100%;
        width: 100%;
        gap: 1rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .footer_content_div .footer-title-and-logo-div {
        padding: 1rem;
        grid-column: 2/3;
        grid-row: 1/2;
        gap: 1rem;
        justify-content: flex-end;
        align-items: flex-end;
        margin-bottom: 0rem;
        margin-right: 0.8rem;
    }

    .footer-title-and-logo-div img {
        width: 3.2rem;
        height: 3.2rem;
    }

    .footer_content_div .footer-title {
        font-size: 1rem;
    }

    .footer_content_div .footer-menu-div {
        grid-column: 1/2;
        grid-row: 1/2;
        padding-left: 1rem;
        padding-top: 1rem;
    }

    .footer-menu-div ul {
        flex-direction: column;
        gap: 0.6rem;
    }

    .footer-menu-div ul li {
        font-size: 0.8rem;
    }

    .social-media-icons-div {
        grid-column: 2/3;
        grid-row: 2/3;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        gap: 2rem;
        padding-right: 2rem;
        padding-bottom: 2rem;
    }

    .social-media-icons-div img {
        height: 1.8rem;
        width: 1.8rem;
    }

    footer h6 {
        grid-column: 1/2;
        grid-row: 2/3;
        padding-left: 1rem;
        font-size: 0.6rem;
        padding-bottom: 1.5rem;
    }
    /*-----------------------HOME TEMPLATE----------------------*/

    .home-section .home-title {
        font-size: 6.5rem;
        margin-top: 2rem;
    }

    .home-section button {
        margin-bottom: 2rem;
        font-size: 1.5rem;
        width: 12rem;
        height: 3rem;
    }
    /* ----------------------register template--------------------- */
    .register-section form {
        gap: 1.5rem;
    }

    .register-section a {
        font-size: 1.5rem;
    }

    .register-section .error-msg {
        font-size: 1.5rem;
    }

    .register-section input {
        padding: 1.2rem;
        width: 30rem;
        height: 2.2rem;
        font-size: 1.1rem;
    }

    .register-section button {
        font-size: 1.5rem;
        width: 12rem;
        height: 3rem;
    }

    .register-upper-title-div .register-upper-title {
        font-size: 1.5rem;
        line-height: 1.5rem;
        margin-bottom: 1rem;
    }

    .register-section .go-to-sign-in {
        font-size: 1.5rem;
    }
    /* ----------------------profile template--------------------- */
    .profile-section form {
        margin-top: 1rem;
        gap: 1rem;
    }

    .profile-section .error-msg {
        font-size: 1.5rem;
    }

    .profile-section .profile-title {
        font-size: 1.8rem;
        margin-bottom: 2rem;
    }

    .profile-section input {
        padding: 1.2rem;
        width: 30rem;
        height: 2.2rem;
        font-size: 1.1rem;
    }

    .profile-section button {
        margin-top: 1.5rem;
        font-size: 1.5rem;
        width: 12rem;
        height: 3rem;
    }

    .profile-section .skip {
        margin-top: 1rem;
        font-size: 1.5rem;
    }
    /* ----------------------login template--------------------- */
    .login-section .error-msg {
        font-size: 1.5rem;
    }

    .login-section .sign-in-title {
        font-size: 1.8rem;
    }

    .login-section a {
        font-size: 1.5rem;
    }

    .login-section input {
        padding: 1.2rem;
        width: 30rem;
        height: 2.2rem;
        font-size: 1.1rem;
    }

    .login-section button {
        margin-top: 1.5rem;
        font-size: 1.5rem;
        width: 12rem;
        height: 3rem;
    }
    /* ----------------------petition template--------------------- */
    .petition-section .petition-title {
        font-size: 1.6rem;
        line-height: 2rem;
    }

    .petition-section .submit-button {
        margin-top: 1.5rem;
        font-size: 1.5rem;
        width: 12rem;
        height: 3rem;
    }

    .petition-section canvas {
        width: 30rem;
        height: 12rem;
    }
    /* ----------------------thanks template--------------------- */
    .thanks-section .thank-you {
        font-size: 1.8rem;
    }

    .thanks-section img {
        width: 30rem;
        height: 12rem;
    }

    .thanks-section .delete-button {
        font-size: 1.5rem;
        width: 12rem;
        height: 3rem;
    }

    .thanks-section .supporters-par {
        font-size: 1.5rem;
        line-height: 0.5rem;
    }

    .thanks-section .signers-link {
        font-size: 1.5rem;
    }

    .thanks-section .edit-par {
        font-size: 1.4rem;
    }
    /* ----------------------signers template--------------------- */
    .signers-section {
        background-color: var(--background-forms);
        padding: 2rem;
        width: auto;
    }

    .signers-title-div .signers-title {
        font-size: 1.6rem;
        margin-bottom: 1.8rem;
    }

    .signers-section .signers-container {
        grid-template-columns: repeat(6, 1fr);
        gap: 0.2rem 0.2rem;
        margin-bottom: 4rem;
    }

    .signers-container .signer-div {
        padding: 1rem;
        height: 6.5rem;
        width: 6.5rem;
    }

    .signers-section .signer {
        font-size: 1rem;
        line-height: 1.3rem;
    }

    .signers-section .same-city-container {
        grid-template-columns: repeat(6, 1fr);
        gap: 0.3rem 0.3rem;
        margin-bottom: 4rem;
    }

    .same-city-container .same-city-div {
        padding: 1rem;
        height: 6.5rem;
        width: 6.5rem;
    }

    .signers-section .same-city-title {
        font-size: 1.6rem;
        margin-bottom: 1.5rem;
    }
    /* ----------------------edit template--------------------- */
    .edit-section {
        position: relative;
        bottom: 2.5rem;
        padding: 1rem;
        background-color: var(--background-forms);
        width: auto;
        height: 100vh;
        padding: 2rem;
    }

    .edit-section .edit-title {
        font-size: 1.6rem;
        position: relative;
        bottom: 2rem;
    }

    .edit-section form {
        position: relative;
        bottom: 2rem;
    }

    .edit-section .input-div {
        gap: 0.4rem;
    }

    .edit-section label {
        font-size: 1.2rem;
    }

    .edit-section input {
        padding: 1.2rem;
        width: 30rem;
        height: 2.2rem;
        font-size: 1.1rem;
    }

    .edit-section button {
        margin-top: 1.5rem;
        font-size: 1.5rem;
        width: 12rem;
        height: 3rem;
        position: relative;
        bottom: 1rem;
    }
}
