/*-----------------------HOME TEMPLATE----------------------*/
.home-section {
    display: flex;
}

.home-section h1 {
    position: relative;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
    font-size: 100px;
    height: 25px;
    width: 100%;
    top: 100px;
    margin-left: 40px;
    color: rgb(44, 40, 40);
}

.home-section form {
    align-self: center;
    justify-self: center;
}

.home-section button {
    position: relative;
    color: white;
    font-size: 25px;
    background-color: black;
    width: 250px;
    height: 60px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
    left: 450px;
    top: 400px;
    border-radius: 5px;
    font-weight: lighter;
}
/* ----------------------main template--------------------- */
.body-section {
    position: absolute;
    width: 100%;
    min-height: 100vh;
    display: relative;
    background: url("/img.jpeg") no-repeat;
    background-size: 100vw 100vh;
}

.body-section header {
    background-color: white;
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 200px;
    display: flex;
    object-fit: contain;
}

.body-section main {
    position: relative;
    display: flex;
}

main h1 {
    position: relative;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
    font-size: 100px;
    height: 25px;
    width: 100%;
    top: 100px;
    margin-left: 40px;
    color: rgb(44, 40, 40);
}

.header-section img {
    position: relative;
    align-self: center;
}
/* ----------------------petition template--------------------- */

.petition-section {
    position: absolute;
}

.petition-section h2 {
    position: relative;
    left: 200px;
    left: 450px;
    font-weight: lighter;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
    font-size: 35px;
}

.petition-section form {
    position: absolute;
    align-self: center;
    justify-self: center;
    left: 370px;
    margin: 25px;
    height: 45px;
}

.petition-section button {
    position: relative;
    color: white;
    font-size: 25px;
    background-color: black;
    width: 250px;
    height: 60px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
    left: 300px;
    top: 200px;
    border-radius: 5px;
    font-weight: lighter;
}

.petition-section canvas {
    position: absolute;
    background-color: white;
    position: absolute;
    top: -20px;
    left: 100px;
    border: none black;
    border-radius: 10px;
}

.petition-section a {
    position: absolute;
    text-decoration: none;
    color: rgb(238, 66, 9);
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
    font-weight: lighter;
    font-size: 25px;
    top: 500px;
    left: 775px;
    width: 100%;
}
/* ----------------------thanks template--------------------- */
.thanks-section {
    position: absolute;
}

.thanks-section h5 {
    position: absolute;
    left: 350px;
    width: 100%;
    font-weight: lighter;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
    font-size: 20px;
    top: 450px;
    left: 735px;
    color: rgb(238, 66, 9);
}

.thanks-section #thank-you {
    position: absolute;
    left: 350px;
    width: 100%;
    font-weight: lighter;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
    font-size: 40px;
}

.thanks-section img {
    position: absolute;
    background-color: white;
    width: 500px;
    height: 200px;
    border-radius: 10px;
    top: 150px;
    left: 550px;
}

.thanks-section #delete-button {
    position: relative;
    color: white;
    font-size: 20px;
    background-color: black;
    width: 150px;
    height: 40px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
    left: 720px;
    top: 300px;
    border-radius: 5px;
    font-weight: lighter;
}

.thanks-section h4 {
    position: relative;
    justify-self: center;
    left: 480px;
    width: 100vw;
    font-weight: lighter;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
    font-size: 35px;
}

.thanks-section #signers-link {
    position: absolute;
    text-decoration: none;
    color: rgb(238, 66, 9);
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
    font-weight: lighter;
    font-size: 25px;
    top: 35px;
}

.thanks-section #logout-partial {
    position: absolute;
    text-decoration: none;
    color: rgb(238, 66, 9);
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
    font-weight: lighter;
    font-size: 25px;
    top: 430px;
    left: 755px;
}

.thanks-section #edit-link {
    color: black;
}
/* ----------------------signers template--------------------- */
.signers-section {
    position: absolute;
}

.signers-section h4 {
    position: relative;
    margin-left: 20px;
    font-size: 25px;
    font-weight: lighter;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
}

.signers-section #logout-partial {
    position: absolute;
    text-decoration: none;
    color: rgb(238, 66, 9);
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
    font-weight: lighter;
    font-size: 25px;
    width: 100%;
    top: 580px;
    left: 750px;
}
/* ----------------------register template--------------------- */
.register-section {
    position: absolute;
    top: 200px;
    left: 650px;
}

.register-section a {
    text-decoration: none;
    color: rgb(238, 66, 9);
}

.register-section h2 {
    font-weight: lighter;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
    color: tomato;
}

.register-section input {
    width: 300px;
    height: 40px;
    font-size: 15px;
    font-weight: lighter;
    border: none;
}

.register-section button {
    position: relative;
    color: white;
    font-size: 25px;
    background-color: black;
    width: 200px;
    height: 40px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
    font-weight: lighter;
    left: 50px;
    border-radius: 5px;
    font-weight: lighter;
}

.register-section h4 {
    font-size: 25px;
    font-weight: lighter;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
}
/* ----------------------login template--------------------- */
.login-section {
    position: absolute;
    top: 200px;
    left: 650px;
}

.login-section h2 {
    font-size: 25px;
    font-weight: lighter;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
}

.login-section h3 {
    font-size: 25px;
    font-weight: lighter;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
}

.login-section a {
    text-decoration: none;
    color: rgb(238, 66, 9);
}

.login-section input {
    width: 300px;
    height: 40px;
    font-size: 15px;
    font-weight: lighter;
    border: none;
}

.login-section button {
    position: relative;
    color: white;
    font-size: 25px;
    background-color: black;
    width: 200px;
    height: 40px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
    font-weight: lighter;
    left: 50px;
    border-radius: 5px;
    font-weight: lighter;
}
/* ----------------------profile template--------------------- */
.profile-section {
    position: absolute;
    top: 200px;
    left: 650px;
}

.profile-section h2 {
    font-size: 25px;
    font-weight: lighter;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
}

.profile-section p {
    font-size: 25px;
    font-weight: lighter;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
}

.profile-section input {
    width: 300px;
    height: 40px;
    font-size: 15px;
    font-weight: lighter;
    border: none;
}

.profile-section button {
    position: relative;
    color: white;
    font-size: 25px;
    background-color: black;
    width: 200px;
    height: 40px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
    font-weight: lighter;
    left: 50px;
    border-radius: 5px;
    font-weight: lighter;
}

.profile-section h4 {
    font-size: 25px;
    font-weight: lighter;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
    text-decoration: none;
    color: rgb(238, 66, 9);
}

.profile-section a {
    text-decoration: none;
    color: rgb(238, 66, 9);
}
/* ----------------------edit template--------------------- */
.edit-section {
    position: absolute;
}

.edit-section h1 {
    position: absolute;
    top: -15px;
    font-size: 40px;
    font-weight: lighter;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
}

.edit-section input {
    width: 300px;
    height: 40px;
    font-size: 15px;
    font-weight: lighter;
    border: none;
    margin-bottom: 10px;
}

.edit-section button {
    position: relative;
    color: white;
    font-size: 20px;
    background-color: black;
    width: 150px;
    height: 30px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
    font-weight: lighter;
    left: 50px;
    border-radius: 5px;
    font-weight: lighter;
    left: 120px;
}

.edit-section label {
    font-size: 25px;
    font-weight: lighter;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
    margin-right: 15px;
}

.edit-section form {
    position: relative;
    top: 10px;
    left: 650;
}

.edit-section #logout-partial {
    position: absolute;
    text-decoration: none;
    color: rgb(238, 66, 9);
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
    font-weight: lighter;
    font-size: 25px;
    width: 100%;
    top: 575px;
    left: 665px;
}
