* {
    /* background-color: rgb(207, 244, 244); */
    background-color: rgb(41, 126, 126);
}

body {
    display: flex;
}

header {
    position: relative;
    display: flex;
    height: 200px;
    width: 100vw;
    margin: 20px;
}

h1 {
    position: relative;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
    height: 25px;
    width: 100%;
    margin-right: 20px;
}

img {
    position: relative;
}

h2 {
    position: relative;
    align-self: center;
    width: 100%;
    left: -350px;
    top: -100px;
    font-weight: lighter;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
}

h3 {
    position: relative;
    top: 250px;
    left: 100px;
    width: 100%;
    font-weight: lighter;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
    font-size: 40px;
}

h4 {
    position: relative;
    justify-self: center;
    top: 320px;
    left: -550px;
    width: 100%;
    font-weight: lighter;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
    font-size: 25px;
}

h5 {
    position: relative;
    left: -50px;
    width: 100%;
    font-weight: lighter;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
    font-size: 25px;
}

a {
    text-decoration: none;
    /* color: rgb(217, 114, 11); */
    color: rgb(238, 66, 9);
}

#h1-link {
    text-decoration: none;
    color: black;
}

form {
    position: absolute;
    align-self: center;
    left: 350px;
    margin: 25px;
    height: 45px;
}

label {
    font-weight: lighter;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
}

input {
    position: relative;
    background-color: white;
    margin: 15px;
    width: 200px;
    height: 30px;
}

button {
    background-color: black;
    border: solid 0.5px black;
    color: white;
    border-radius: 15px;
    position: relative;
    width: 150px;
    height: 30px;
    left: 50px;
    margin: 25px;
}

canvas {
    background-color: white;
    position: absolute;
    top: 130px;
    border: solid black 0.5px;
}

#label-signature {
    position: relative;
    top: 10px;
    font-size: 20px;
}

p {
    font-size: 25px;
    font-weight: lighter;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
}

#signers-section {
    position: relative;
    width: 100%;
    top: 200px;
    left: -150px;
}

li {
    position: relative;
    margin-bottom: 25px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
    font-size: 20px;
    font-weight: lighter;
}
